

.root {
	-fx-background-color: white;
	-fx-border-color: #336699;
	-fx-effect: dropshadow( three-pass-box , #336699 , 10, 1.0 , 0.0 , 1.0 );
}

.dialog-pane {
	-fx-border-color: #336699;
	-fx-effect: dropshadow( three-pass-box , #336699 , 10, 1.0 , 0.0 , 1.0 );
}

.dialog-pane .button {
	 -fx-text-fill: white;
}

.dialog-pane .button:pressed {
	 -fx-text-fill: white;
	 -fx-background-color: #555555;
            -fx-border-radius: 4px;
}

#resetKeyButton:hover:pressed {
	-fx-background-color: #555555;
            -fx-border-radius: 4px;
          
}

#resetKeyButton:hover {
	-fx-background-color: #A0A0A0;
            -fx-border-radius: 4px;
}

#resetKeyButton {
	-fx-background-color: orange;-fx-text-fill:white;
}

#closeWindowButton {
	-fx-background-color: #A0A0A0 80%;
    -fx-text-fill: white;
    -fx-opacity:0.8;

}

#lowerWindowButton {
	-fx-background-color: #A0A0A0;
	-fx-opacity:0.8;
    -fx-text-fill: white;
    
}

#closeWindowButton:hover:pressed {
	-fx-background-color: #BB4E2A;
            -fx-border-radius: 4px;
          
}

#lowerWindowButton:hover:pressed {
	-fx-background-color: #B3970B;
            -fx-border-radius: 4px;
          
}

#closeWindowButton:hover {
	-fx-background-color: #FA521A;
            -fx-border-radius: 4px;
            -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 5, 0.0 , 0 , 1 );
	}
	
#lowerWindowButton:hover {
	-fx-background-color: #FFD917;
            -fx-border-radius: 4px;
            -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 5, 0.0 , 0 , 1 );
	}

#flowPaneBlackList {
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 5, 0.0 , 0 , 1 );
	-fx-background-color:aliceblue;
}

#startSearchButton:pressed {
	-fx-background-color: #555555;
            -fx-border-radius: 4px;
}

#selectFileButton:pressed {
	-fx-background-color: #555555;
            -fx-border-radius: 4px;
          
}

#okMetaButton:pressed {
	-fx-background-color: #555555;
            -fx-border-radius: 4px;
}

#cancelMetaButton:pressed {
	-fx-background-color: #555555;
            -fx-border-radius: 4px;
          
}



#closeButton:pressed {
	-fx-background-color: #555555;
            -fx-border-radius: 4px;
          
}

#openFileButton:pressed {
	-fx-background-color: #555555;
            -fx-border-radius: 4px;
          
}

#cancelButton:pressed {
	-fx-background-color: #555555;
            -fx-border-radius: 4px;
          
}



.button {
	-fx-background-color: #336699;
            -fx-border-radius: 4px;
}



.button:hover {
	-fx-background-color: #A0A0A0;
            -fx-border-radius: 4px;
	}
	

            

            


.menu-bar {
    -fx-background-color: #336699;
    -fx-border-radius: 4px;

}


.menu {
    -fx-background-color: #336699;
    -fx-border-radius: 4px;
}

.menu .label {
 -fx-text-fill: white;
    -fx-color: white;
}


.menu-item:focused {
    -fx-background-color: #336699;
}

.menu-item:hover {
    -fx-background-color: #336699;
}

.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: #A0A0A0;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
/*    -fx-padding: 0.666667em 0.083333em 0.666667em 0.083333em;  8 1 8 1 */
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
}




#switchToggle {
	-fx-background-color: green;-fx-text-fill:white;
	
}


#blackListView .list-cell { /* <=== changed to even */
    -fx-background-color: transparent;
}


#blackListView .list-cell:filled:selected:focused, #blackListView .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #336699 100%);
    -fx-text-fill: white;
}

#blackListView .list-cell:even { /* <=== changed to even */
    -fx-background-color: white;
}

#blackListView .list-cell:filled:hover {
    -fx-background-color: #0093ff;
    -fx-text-fill: white;
}
